#wrapper {
	width: 990px;
	margin: 0 auto;
	background-color:#def2f7; 
}

nav {
	background: #dbe7ea ;
	padding: 10px;
	margin-bottom: 35px;
}

img {
	height: 181px; 
	width: 223px;
}

section {
	width: 480px;
	float:left;
	margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 20px;
    line-height: 20px;

}

aside {
	width: 200px;
	float:left;
	margin-left: 70px;
	padding-right: 50px; 
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	background-color: #dbe7ea ;
	color:#515455;
	line-height: 20px;

}

a {
	text-decoration: none;
	font-family:'Open Sans Condensed', sans-serif;
	color: gray;
}	

a:hover {
    color:black;
}

footer {
	clear:both;
	padding-bottom:16px;
}

h1, h2, h3, small {
	font-family:'PT Sans Narrow', sans-serif; 
}

p {
	font-family:'Open Sans Condensed', sans-serif;
	font-size: 20px;
}

article {
	margin-bottom: 30px;
}
h1  {
 	font-size: 50px;
 	margin-bottom: 20px
}

h2 {
	font-size: 30px;
}