#wrapper {
	width:1200px;
	margin: 0 auto;
}

header {
    background-image:url("../images/foto.jpg"); 
    width: 1200px;
}


body {
	background-color: #f9eae0;
}

nav {
	background-color: #230b03;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

li {
	display: inline-block;
}

a {
	text-decoration: none;
	margin:15px;
	color:white;

}

a:hover {
	background-color: #8a6145;
	color:#230b03;
	font-family:'Open Sans Condensed', sans-serif;
	padding: 17px;
}

.cafeorg {
	float:left;
	width: 500px;
	padding: 20px;
	margin-right: 20px;
	margin-left:20px;
	margin-top: 30px;
}

.barista {
	float:left;
	width: 500px;
	padding: 20px;
	margin-top: 30px;
}

h2 {
	font-size: 35px;
	font-family: 'Muli', sans-serif;
}
section p {
	font-size: 20px;
	font-family:'Open Sans Condensed', sans-serif;
	line-height: 25px;
}

footer {
	clear: both;
	background-color: #230b03;
	padding:20px;
}

footer p {
   font-size: 15px;
   font-family:'Open Sans Condensed', sans-serif;
   color:white;
}




